<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="web app poc">
    <meta name="author" content="vito">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- <link rel="stylesheet" href="./generate/bower_components/bootstrap/dist/css/bootstrap.min.css"> -->

    <title>Home</title>
</head>
<body>
    <div id="app"></div>
    Home
    <!-- <script src="./generate/bower_components/jquery/dist/jquery.min.js"></script> -->
</body>
</html>