<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="web app poc">
    <meta name="author" content="vito">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="stylesheet" href="./assets/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./assets/common.css">

    <title>Home</title>
</head>
<body>
    <div id="app"></div>

    <script src="./assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="./bundle/webapp.bundle.js"></script>
</body>
</html>